<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="insights">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Insights</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="finance">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Finance</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expense-management">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Expense</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
