


@import "@ionic/angular/css/core.css";


@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";





body {
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
}
.header-custom {
    background-color: #3A3B40;
    & ion-toolbar{
        --background: transparent;
        color: #fff;
    }
}